*{margin: 0;
padding: 0;}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
}



@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}

.top-menu {
    height: 50px;
    width: 100%;
    background: #eceef4;
    width: auto;
}

@media screen and (max-width:480px) { 

}

section {
	margin: 0 auto;
	height: 100vh;
	
}

.container {
	width: 970px;
}

.top-menu-item-1 {
    display: inline-block;
    padding: 5px 20px;
    background: #fff;
    border-radius: 5px;
    margin-top: -42px;
    margin-left: 10px;
}

@media screen and (max-width:480px) { 

}


.top-menu-item-1 a {
	margin-left: 15px;
	 font-family: 'OpenSans-Bold';
	 color: #95979b;
	 font-size: 12px;
}



.top-menu-item-2 {
    display: table-caption;
    /* padding: 5px 20px; */
    /* margin-top: -42px; */
    margin-left: 15px;
    /* margin-left: auto; */
    float: right;
}

.top-items {
    margin-top: -37px;
    margin-bottom: 60px;
}

.logo img {
	width: 200px;
}

.logo a {
    position: relative;
    display: inline;
    margin-left: -200px;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    color: #fffbfb;
    font-size: 20px;
    text-shadow: 0px 0px 13px #3e3a3a;
}

.logo {
    display: inline-block;
    width: 220px;
    margin-bottom: 65px;
}

.location {
    display: inline-block;
    float: right;
    margin-top: -25px;
    margin-bottom: 65px;
}

.location img {
    width: 190px;
    position: absolute;
}

.location span {
    position: relative;
    left: 29px;
    display: inline;
    top: 30px;
    z-index: 2;
    color: #6d6e71;
    font-family: 'OpenSans-Light';
}

.top-menu-item-1:first-child {
    margin-left: 0;
}

img.phone {
    width: 53px;
    margin-top: 57px;
    margin-left: 15px;
    /* padding: 20px 0; */
    border-right: 1px solid #ccc;
    background: #fff;
    padding: 0 15px;
}

img.location-icon {
    width: 49px;
    margin-top: 57px;
    margin-left: 70px;
    /* padding: 20px 0; */
    border-right: 1px solid #ccc;
    background: #fff;
    padding: 0 15px;
}

img.mail {
    width: 53px;
    margin-top: 57px;
    margin-left: 121px;
    /* padding: 20px 0; */
    background: #fff;
    margin-top: 60px;
    padding: 0 16px;
}

.line {
    border-top: 1px solid #eceef4;
    top: 165px;
    position: relative;
}

.nav li {
	list-style: none;
	display: inline;
	font-family: 'OpenSans-Bold';
	margin-left: 10px;
}

.nav li:first-child {
	margin-left: 0;
}

.nav a.active, .nav a:hover {
    background: url(../img/active.png) no-repeat bottom;
   
}

.nav a {
	padding: 20px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 7px;
}

.main {
    background: url(../img/iback.png) no-repeat center;
    height: 561px;
    background-size: contain;
    margin-bottom: -260px;
}

.main h2 {
    position: relative;
    display: flex;
    margin: 0 auto;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
    text-shadow: 1px 1px 10px #6b6969;
    /* margin-top: 20px; */
    justify-content: center;
    align-items: center;
    height: 325px;
    z-index: 2;
}

.main img {
    width: 50px;
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 408px;
    margin-top: -38px;
    position: absolute;
    z-index: 0;
}

.main h3 {
    font-family: 'OpenSans-Light';
    color: #fff;
    margin-left: 461px;
    margin-top: -142px;
}

.slider {
    margin-top: -261px;
    /* margin-left: 32%; */
    display: flex;
    justify-content: center;
}

.green {
    background: #8aca51;
    opacity: 0.9;
    height: 65px;
    width: 200px;
    overflow: hidden;
    background-size: contain;
    margin-top: -97px;
    position: relative;
}

.green img {
    margin: 0 auto;
    margin-left: 70px;
    margin-top: 15px;
}

.green span {
    font-size: 17px;
    margin-left: 10px;
    color: #fff;
    vertical-align: -webkit-baseline-middle;
    /* margin-top: 16px; */
    /* line-height: 51px; */

}

.slider-item-1 {
	overflow: hidden;
	   background-size: cover;
	   font-family: 'OpenSans-SemiBold';
	   width: 200px;
	   height: 200px;
}

.yellow {
    background: #feeb75;
    opacity: 0.9;
    height: 65px;
    width: 200px;
    overflow: hidden;
    background-size: contain;
    margin-top: -97px;
    position: relative;
}


.yellow img {
    margin: 0 auto;
    margin-left: 61px;
    margin-top: 15px;
}

.yellow span {
    font-size: 17px;
    margin-left: 10px;
    color: #cc9800;
    vertical-align: -webkit-baseline-middle;
    /* margin-top: 16px; */
    /* line-height: 51px; */

}

.slider-arrow {
    background: #f4f4f4;
    opacity: 0.5;
    width: 53px;
    height: 200px;
}

.slider-arrow:hover {
	background: #f4f4f4;
	opacity: 0.8;
}

.slider-arrow img {
    margin-left: 18px;
    margin-top: 80px;
}

.why-we img {
    float: left;
}

.why-we {
	width: 515px;
}

.why-we h6 {
    /* float: inherit; */
    display: inline-block;
    font-family: 'OpenSans-Bold';
    color: #6d6e71;
    font-size: 17px;
    margin-left: 25px;
}

.why-we p {
    margin-left: 130px;
    font-size: 12px;
    width: 278px;
}

.inline {
    display: flex;
    /* margin-left: 305px; */
    justify-content: center;
    /* width: 118px; */
    align-items: center;
    /* margin: 0 auto; */
    margin-top: 5%;
}